//------Чат-------
.wrapper 
    display: flex
    justify-content: center
    align-items: center
    height: 90%
    width: 100%


.window 
    flex: 1
    position: relative
    z-index: 1
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset
    border-radius: 10px
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    background-color: #fff


.header 
    width: 100%
    height: 50px
    position: relative
    display: flex
    justify-content: center
    align-items: center
    color: #fff
    background-color: teal
    border-radius: 10px 10px 0 0
    padding: 10px 0
    box-sizing: border-box

    .title 
        font-size: 20px
        margin: 0
        user-select: none
    

    .count-user 
        cursor: pointer
    


.main 
    width: 100%
    overflow-y: scroll

    &::-webkit-scrollbar 
        width: 8px
    

    &::-webkit-scrollbar-thumb 
        background-color: teal
        border-radius: 20px
        margin: 10px 0
    


.footer 
    position: sticky
    bottom: 0
    width: 100%
    margin-top: auto
    box-sizing: border-box
    padding: 0 1%
    display: flex
    gap: 5px

    > *:first-child 
        width: 100%
    

    > *:last-child 
        width: max-content
        padding: 0 20px
    


.list-wrap 
    height: 100%
    margin: 0 3%


.list-title 
    margin: 0
    user-select: none
    padding: 0 15px
    border-radius: 10px 10px 0 0
    height: 50px
    color: #fff
    background-color: teal
    line-height: 50px
    text-align: center


.list-users 
    background-color: #fff
    border-radius: 0 0 10px 10px
    padding: 12px 30px
    user-select: none
    height: 90%
    overflow-y: scroll

    &::-webkit-scrollbar 
        width: 8px
    

    &::-webkit-scrollbar-thumb 
        background-color: teal
        border-radius: 20px
        margin: 10px 0

.my-name 
    color: teal
    font-weight: 700


.li-chat 
    list-style-type: none
    border: 1px solid teal
    text-align: center
    padding: 5px 10px
    border-radius: 5px
    margin-bottom: 5px

    &:hover 
        cursor: pointer
        background-color: teal
        color: #fff
        transform: scale(1.1)
        transition: all 0.2s ease-out
    


.li-chat-my 
    background-color: teal
    color: #fff
    list-style-type: none
    border: 1px solid teal
    text-align: center
    padding: 5px 10px
    border-radius: 5px
    margin-bottom: 5px


.add-chat 
    font-size: 20px
    width: 30px
    height: 30px
    border-radius: 50%
    border: 3px solid teal
    background-color: #fff
    color: teal
    margin-left: 35px

    &:hover 
        cursor: pointer
        color: #fff
        background-color: teal
        transform: scale(1.1)
        transition: all 0.2s ease-out
    


.wrapper-chat 
    position: absolute
    top: 0
    background-color: #fff
    width: 100vw
    height: 100vh
    z-index: 100
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    overflow: hidden

    &::before 
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-image: url('../../../public/img/AuthBg.jpg')
        background-size: cover
        filter: blur(2px)
        z-index: -1
    


.El-newChat 
    background-color: rgba(255, 255, 255, 1)
    border-radius: 0 0 10px 10px
    padding: 12px 30px
    user-select: none
    width: 400px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border: 2px solid teal

.btn-toBottom
    width: 35px
    height: 35px
    font-size: 20px
    line-height: 25px
    position: absolute
    bottom: 100px
    left: 50%
    border-radius: 50%
    padding: 5px
    border: 2px solid teal
    color: teal
    cursor: pointer
    transition: all 0.2s ease
    &:hover
        line-height: 5px
        background-clip: teal 
        border: 0
        color: #fff
        background-color: teal
        scale: 1.03