.fileInputLabel
    display: inline-block
    position: relative
    cursor: pointer
    height: 45px
    transition: all 0.2s ease
    box-sizing: border-box

    &:hover
        border: 2px solid teal
        border-radius: 10px 
        padding: 4px
.attachmentIcon
    width: 35px
    height: 35px
    cursor: pointer

#fileInput
    position: absolute
    top: 0
    left: 0
    width: 100%
    opacity: 0
    cursor: pointer
